body {
    text-align: center;
    background-color: #eaeaea;
    color: #333;
}
.calculator {
    padding: 20px;
    background: #fff;
}
.display {
    width: 98%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #ccc;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    padding: 12px;
    color: #333;
}